.action-buttons {
    float: right;
    margin-bottom: 10px;
}
.action-buttons + * {
    clear: both;
}
.action-buttons form {
    display: inline-block;
}
.action-buttons.left {
    float: left;
    margin-bottom: 10px;
}