.profile-header > .profile-name {
    margin-top: 0;
    margin-bottom: 5px;
}
div.profile-header > .profile-subinfo {
    margin-top: 0;
    margin-bottom: 0px;
}
img.profile-picture {
    width: 110px;
    height: 110px;
}
div.profile-fields {
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 50px;
}
div.profile-fields > div.profile-field {
    clear: both;
}
div.profile-fields > div.profile-field  > div.profile-field-name{
    width: 25%;
    font-weight: 700;
    float: left;
    margin-bottom: 10px;
}
div.profile-fields > div.profile-field  > div.profile-field-info{
    float: right;
    width: 75%;
    margin-bottom: 10px;
}
div.profile-fields > div.profile-field  > div.profile-field-name ::after{
    clear: both;
}
div.profile-noselection {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: #b9b9b9;
}
img.profile-picture-mini {
    width: 50px;
    height: 50px;
}