<% include ../partials/header %>

<div class="container">
    <h1><i class="fa fa-user-plus" aria-hidden="true"></i> Add User Account</h1>
    <hr>
    <p>TODO: Implement add user account</p>

</div>

<% include ../partials/footer %>